.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.team-list__crew {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;

  @media screen and(min-width: 768px) {
  }
}

.team-list__item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and(min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
  @media screen and(max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.team-list__pic {
  width: 100%;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}
.team-list__profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-list__media-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--theme-color);
    color: var(--background-color);
    fill: var(--background-color);
  }
}

.team-list__social-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.team-list__link:not(:last-child) {
  margin-right: 10px;
}
.team-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
